<div>
  <table *ngIf="!isEmpty()" class="table table-sm table-hover">
    <thead>
    <tr class="text-center thead-light">
      <th>Date</th>
      <th>Peak (mins)</th>
      <th>Cardio (mins)</th>
      <th>FatBurn (mins)</th>
      <th>Active Zone (mins)</th>
      <th>Calories</th>
      <th>RestingHR</th>
      <th>BPM severity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hz of getHeartZones()">
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span>{{ hz.date}}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span [class]="getPeakCellClass(hz.peakMinutes)">{{ hz.peakMinutes }}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span [class]="getCardioCellClass(hz.cardioMinutes)">{{ hz.cardioMinutes }}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span [class]="getFatBurnCellClass(hz.fatBurnMinutes)">{{ hz.fatBurnMinutes }}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span>{{ hz.activeMinutes}}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span>{{ hz.calories }}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span>{{ hz.restingHeartRate }}</span>
        </a>
      </td>
      <td class="text-center">
        <a routerLink="/chart/{{hz.date}}" class="table-cell-link" target="_blank">
          <span
            class="badge badge-pill badge-{{ hz.bloodPressureSeverity }} result-label">{{ hz.bloodPressureSeverity }}</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="isEmpty()">
    <h4>No data in the given period</h4>
  </div>
</div>
